
/*Site Wide Styles*/

* {
  box-sizing: border-box;
  margin: 0px;
}

html{
  font-family: Arial, Helvetica, sans-serif;
}


/*General*/
h1 {
  padding: 2vw 1.5vw 0.5vw 1.5vw;
  font-size: 25px;
}

h2 {
  padding: 1.5vw;
  font-size: 18px;
}

h3 {
  padding: 1vw 3vw;
  font-size: 16px;
}

p {
  margin-bottom: 0px;
}

input {
  margin-top: 0px;
}

li, label, p {
  font-size: 14px;
}



/* Hero Section */

.hero {
  background-color: forestgreen;
  color: white;
  margin:  0;
}

.hero h1 {
  text-align: center;
}

.hero h2 {
  padding: 1vw;
  text-align: center;
  font-style: italic;
  font-weight: 300;
}

.hero a {
  color: white;
}

.hero p {
  text-align: center;
  padding-bottom: 2vw;
}

.hero p:nth-of-type(2) {
  text-align: center;
}

/*Content Section*/

.main { /*Holds all accordian and panel divs*/
  margin-left: 2vw; /* Same as the width of the sidenav *//* Increased text to enable scrolling */
  padding: 0px 10px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  margin: 0 1.5vw;
  border: none;
  border-bottom: #444 2px dashed;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
}

.panel {
  display: none;
  background-color: white;
  margin: .5vh 1.5vw;
}



/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: seagreen;
  color: white;
}

/* Style the tab content */
.tabcontent {
  float: left;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }

  .filterDiv {
    padding: 1vh;
    display: none;
    border-bottom: 2px black solid;
  }
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }

  .dropdown {
    position: relative;
    display: block;
    width: 100%;
  }
  
  .dropdown-content {
    display: none;
    width: 100%;
    position: relative;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .sidenav {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn, button {
    padding: 22px 16px;
    text-decoration: none;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  button.active {
    background-color: forestgreen;
  } 
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover, button:hover {
    color: black;
    background-color: #ddd;
  }
  
  /* Main content */
  .main {
    margin-left: 2vw; /* Same as the width of the sidenav *//* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: forestgreen;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #f9f9f9;
    padding-left: 8px;
  }
  
  .dropdown-container a{
    font-size: 12px;
  }
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }